		.header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
        }

        .logo {
            width: 100px;
            height: auto;
        }

        .site-name {
            font-size: 24px;
            font-weight: bold;
        }

        .search {
            margin-left: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 5px 10px;
            width: 200px;
        }

        .profile-icon {
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
		}
		.photo {
            width: 1000px;
            height: auto;
        }
		.footer {
			display: flex;
			align-items: center;
            justify-content: space-between;
            padding: 15px 0;
			flex grow: 1;
		}

		aside {
			width: 40%;
			padding-left: 0.5rem;
			margin-left: 0.5rem;
			float: right;
			box-shadow: inset 5px 0 5px -5px #29627e;
			font-style: italic;
			color: #29627e;
		}

		aside > p {
			margin: 0.5rem;
		}
